# Base de datos (ejemplo Postgres o SQLite)
# Para test con SQLite: sqlite:///./db.sqlite
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/dupla_db
# Para Docker Compose, use:
DATEBASE_URL=postgresql://postgres:postgres@db:5432/dupla_db

# Nivel de Logs a mostrar (debug, info, warning, error, critical)
LOG_LEVEL=info
